@font-face { 
    font-family: "norsebold";
    src: url('images/fonts/Norse-Bold.woff') format('woff'),
        url('images/fonts/Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.container { 
    display:flex;
    height:100vh;
}

.hero { 
    display: flex;
    flex-direction: column;
    background-image: url('images/odin form img.jpg');
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40%;
    font-size: 3rem;
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
}

.hero p, .hero a {
    color: white;
}

.hero img {
    height: 150px;
}

.hero h1 {
    color:white;
    font-family: "norsebold"
}

#form-container { 
    width: 60%;
    height: 100%;
    padding: 100px 0;
}

#form-container h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 30px;
}

#form-container form { 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		padding: 30px;
		margin-bottom: 30px;
}

#form-container button, #form-container p { 
    margin-left: 30px;
}

#details .form-row {
    display:flex;
}

#details h2 {
    margin-bottom: 30px;
}

.form-row > div {
    flex:1;
    padding-right: 20px;
}

.form-row > div label,
.form-row > div input {
	width: 100%;
	font-family: sans-serif;
}

.form-row > div label {
	font-size: 0.8rem;
}

.form-row > div input {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 30px;
	border: 2px solid #e5e7eb;
	border-radius: 5px;
}

.form-row > div input:invalid,
.form-row > div input[type="password"]:invalid {
	border-color: red;
}

button {
	background-color: rgba(89, 109, 72);
	border: none;
	color: white;
	padding: 15px 50px;
	font-size: 0.9rem;
	border-radius: 8px;
	cursor: pointer;
}

button:hover {
    background-color: rgba(89, 109, 72, 0.8);
}

a {
	text-decoration: none;
	color: #596d48;
	font-weight: bold;
}
a:hover {
		color: rgba(89, 109, 72, 0.8);
	}
